@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html{
  margin-left: 40%;
  margin-right: 40%;
  
}
body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 300px;
    border: none;
    border-radius: 15px
    
}
#addName{
  display: block;
}

.adiv {
    background: #04CB28;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
    height: 46px
}
.pb-3{
  margin-left: 40%;
  margin-right: 40%;
 
}

.mytextareaDiv{
  padding-top: 30px;
   padding-bottom: 10px;
  width: 290px;
  display: inline-block;
  transform: translate(330px,4px);
}

#content{
  border: 0.2px solid #04CB28;
  width: 300px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-top-color: white;
  transform: translate(-10px,-150px);
  min-height: 150px; 
  position: absolute;
}
#nameInput{
  width: 290px;
  padding-bottom: 10px;
  margin-bottom: 10px
}

.form-control {
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    font-size: 8px
}

.form-control:focus {
    box-shadow: none
}

.form-control::placeholder {
    font-size: 12px;
    color: black
}