
/*nav {
	width: 100px;

}
nav > ul {
	margin: 0px;
	padding: 0px;
}
nav li {
	list-style-type: none;
}
nav >ul >li {
	float: left;
	position: relative;
}
nav >ul::after{
	content: "";
	display: table;
	clear: both;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
nav >ul >li >a {
	padding: 20px 20px;

}
*/
html{
	min-width: 50%;
	min-height: 50%;
}
nav #banner .ulForBanner li .menu-left-responsive{
	display: none ! important;
}
header {
	background-color: 
}
#aboutCompany{
	display: inline-flex;
}
nav {
	padding: 5px 2px;
}

div #banner{
	padding: 3px;
}
nav #banner .ulForBanner li {
	display: inline-block;
	align-items: baseline;
	position: relative;

}
nav #banner .ulForBanner li a {
	text-decoration: none;
	align-items: baseline;
}
li.menu-left-responsive {
	display: none !important;
}
nav #banner .ulForBanner li .search{
	width: 400px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: right;
	border-radius: 5px;
	border: 1px solid #bab6b6;	
	top: 85px;
	float: flex-end;
	z-index: 20;
}

#container{
	margin-left: 5%;
	margin-right: 5%;
	min-width: 30%;
}
#aboutCompany {
	width: 100%;
	float: left;
}

li.centerText{
 transform: translate(-12px, -20px);
 margin-left: 15px;
}
nav #banner .ulForBanner li a img {
	border: 2px solid black;
	float: none;
}

@media screen and (max-width: 560px){
	nav #banner .ulForBanner li{
		display: block;
	}
	nav #banner .ulForBanner li .centerText{
		display: none;
	}
	nav #banner .ulForBanner li .search{
		width: inherit;
	}
	nav #banner .ulForBanner li {
		margin-top: 25px;
		z-index: 1000px;
	}
	nav #banner .ulForBanner li a img{
		margin-left: 5px;
	}

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	nav #banner .ulForBanner li{
		display: inline-block;
	}
	nav #banner .ulForBanner li .search{
		width: auto;
	}
	nav #banner .ulForBanner li {
		margin-top: 25px;
		z-index: 1000px;
	}
	nav #banner .ulForBanner li a img{
		margin-left: 5px;
	}
	li.menu-left-responsive {
	display: block !important;
}
 li.centerText{
 	display: none !important;
 }
 li.basket{
 	float: right;
 	transform: translate(-12px, -20px);
 }
 li.search {
 	display: inline !important;
 	float: none;
 	transform: translate(-12px, -20px);
 }
}